{#
/**
 * @file vehicle_type.html.twig
 * Default theme implementation to present Vehicle Type data.
 *
 * This template is used when viewing Vehicle Type pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_vehicle_type()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('vehicle_type') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
