.button {
	border-radius: 5px;
	color: $primary-color;
	display: block;
	width: 100%;
	padding: 0.5rem 1rem;
	text-align: center;
	margin: 0.5rem 0;
	text-transform: lowercase;
	border: 1px solid $primary-color;
	background: none;

	&:hover {
	  background: rgba($primary-color, 0.2);
	  color: $primary-color;
	}
  }

#edit-actions {
	.button {
		display: inline-block;
		width: auto;
		&:first-child {
			margin-right: 0.5rem;
		}
	}
}