@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,600,700,800,900|Orbitron:400,500,700,900');

// 300: light
// 400: regular
// 500: medium
// 600: semi-bold
// 700: bold
// 900: black

body {
    font-family: 'Fira Sans', 'Arial', sans-serif;
    line-height: 150%;
}

h1 {
    font-family: 'Orbitron', 'Times New Roman', serif;
    font-weight: 700;
    text-transform: uppercase;
}

.page-title {
  color: $text-color;
  font-family: 'Orbitron', Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-left: 60px;
  font-size: 1.8rem;
  letter-spacing: 2px;
  line-height: 100%;
  display: inline-block;
}

a {
    text-decoration: none;
    color: inherit;
}

.text-formatted p {
  margin-bottom: 1rem;
}