#dashboard {
    ul.action-icons {
        display: flex;
        list-style-type: none;
        position: absolute;
        width: 100%;
        bottom: 0;
        li {
            flex: 3;
            text-align: center;
            h1 {
                margin: 0;
            }
        }

        .fa {
            font-size: 1.5rem;
        }
    }

    .actions {
        a {
            position: relative;
            .fa-envelope {
                position: absolute;
                right: 3px;
                top: 50%;
                transform: translateY(-50%);
                color: $background-color;
                background: $primary-color;
                border-radius: 50%;
                padding: 9px;
            }
        }

    }
}

.uploaded-image {
    border-radius: 5px;
    height: 200px;
    width: 100%;
    display: block;
    overflow: hidden;
    border: 1px solid rgba($primary-color, 1);
    background-repeat: no-repeat;
    background-position: center;
}