#profile {
  .section__profile {

    .image-border {
      width: fit-content;
      margin: 0 auto 2rem;
      display: block;
      float: none;
    }

    .profile-avatar {
      width: 140px;
      height: 140px;

      .fa-user-o {
        font-size: 2rem;
      }
    }
  }
}

@media (min-width: 71.25rem) {
  #profile .section__profile .image-border {
    margin-right: 1rem;
    float: left;
  }
}