form {
    input[type="text"],
    input[type="email"],
	input[type="password"],
	input[type="date"],
	textarea,
	select {
        display: block;
        margin: 0.5rem 0 2rem;
        border: 2px solid $text-color;
        padding: 0.8rem;
        width: 100%;
		resize: vertical;
		border-radius: 3px;
    }

    textarea {
        min-height: 200px;
    }
}