.icon {
    &.small-icon {
        width: 30px;
    }

    &.medium-icon {

    }

    &.large-icon {

    }
}

.loader{
    margin: 0 0 2em;
    height: 100px;
    width: 20%;
    text-align: center;
    padding: 1em;
    margin: 0 auto 1em;
    display: inline-block;
    vertical-align: top;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    svg path {
        fill: $primary-color;
      }
  }

  /*
    Set the color of the icon
  */
