p.message {
    font-size: 0.8rem;
    &.error {
        color: $error-color;
        &:before {
            content: "\f071";
            font-family: 'FontAwesome';
            font-weight: normal;
            font-style: normal;
            display: inline-block;
            text-decoration: inherit;
            margin-right: 5px;
        }
    }

    &.information {
        &:before {
            content: "\f05a";
            font-family: 'FontAwesome';
            font-weight: normal;
            font-style: normal;
            display: inline-block;
            text-decoration: inherit;
            margin-right: 5px;
        }
    }
}

.toast-message {
    position: absolute;
    background: $background-color;
    top: 50%;
    border: 1px solid $primary-color;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    padding: 1rem;
    border-radius: 6px;
    z-index: 160;
    .fa-times {
        float: right;
        font-size: 1.2rem;
    }
}

@media (min-width: 42.5rem) {
    .toast-message {
        width: 450px;

        .btn {
            width: calc(50% - 1rem);
            float: left;
            margin: 0 0.5rem;
        }
    }
}