article.review {
	padding: 1rem 0;
	border-bottom: 1px solid $primary-color;
	.column:first-child {
		text-align: center;
		.fa-user-circle {
			font-size: 2rem;
			margin-bottom: 0.5rem;
		}
	}
	p {
		margin-bottom: 0;
	}

	.review-created {
		float: right;
		font-size: 0.8rem;
		font-style: normal;
	}
}

section.review-list {
	margin-bottom: 3rem;
}

@media (min-width: 42.5rem) {
	article.review {
		.column:first-child {
			.fa-user-circle {
				font-size: 3.5rem;

			}
		}
	}
}