.spec-bar {
    width: 100%;
    border: 1px solid $primary-color;
    padding: 2px 1px;
    overflow: auto;
    .spec-block {
        background: $primary-color;
        height: 30px;
        width: 20%;
        float: left;
        border: 2px solid $background-color;
    }
}