.tabs {
  border-bottom: 1px solid $primary-color;
  display: flex;
  text-align: center;
  margin-bottom: 1rem;

  li {
    //display: block;
    flex: 2;
    font-family: 'Orbitron', Arial, sans-serif;
    letter-spacing: 2px;
    font-weight: 700;

    &.is-active {
      border-bottom: 2px solid $primary-color;
      padding-bottom: 10px;
      color: $primary-color;
    }
  }
}

.tabs-content {
  margin-bottom: 1rem;
  table {
    width: 100%;
    tr {
      padding-bottom: 1rem;
      height: calc(40px + 1rem);
    }
    td:first-child {
      width: 90px;
    }
  }
}