.section__vehicles-list {
  margin-bottom: 1rem;
}

.important-details {
  line-height: 100%;
  font-size: 1.2rem;
  padding: 1rem 0;
}

.image-border {
  border: 1px solid rgba($primary-color, 1);
  padding: 5px;
  border-radius: 6px;
}

.section__vehicle {
  padding: 0.5rem 0;

  h2 {
    margin-bottom: 0;
  }



  .vehicle__image {
    border-radius: 5px;
    height: 70px;
    width: 100%;
    display: block;
    overflow: hidden;
    border: 1px solid rgba($primary-color, 1);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
  }

  .important-details {
    font-family: 'Orbitron', Arial, sans-serif;
    font-weight: 700;
    color: $secundary-color;
  }

  .vehicle-price {
    font-family: 'Orbitron', Arial, sans-serif;
    font-weight: 700;
    color: $secundary-color;
    position: relative;

    .vehicle-price-number {
      line-height: 100%;
      font-size: 1.2rem;
    }

    .vehicle-price-suffix {
      position: absolute;
      font-size: 0.8rem;
      top: 2px;
      line-height: 100%;
      margin-left: 5px;
    }
  }

  .fa-angle-right {
    float: right;
    font-size: 2rem;
    color: $primary-color;
    vertical-align: middle;
    margin-top: 8px;
  }

  .vehicle-hologram {
    position: relative;
  }

  #hologram {
    width: 150%;
    position: absolute;
    bottom: -90px;
    left: 50%;
    transform: translateX(-50%);
  }


}

#vehicle-overview .section__vehicle {
  .vehicle-image-border {
    width: 100%;
  }
}

#vehicle-detail .section__vehicle {
  .vehicle-image-border {
    width: 90%;
    margin: 0 auto 120px;
  }

  .vehicle__image {
    height: 200px;
  }

  .vehicle-price {
    text-align: right;
    margin-right: 50px;
  }
}

@media (min-width: 42.5rem) {
  .section__vehicle {

    .vehicle__image {
      height: 230px;
    }
  }
}