{#
/**
 * @file
 * Theme override for page titles.
 *
 * Available variables:
 * - title_attributes: HTML attributes for the page title element.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 */
#}
{{ title_prefix }}
{% if title %}
  <h2{{ title_attributes.addClass('page-title') }}>{{ title }}</h2>
  <svg version="1.1" id="title-line" x="0px" y="0px"
    viewBox="0 0 250 29" style="enable-background:new 0 0 250 29;" xml:space="preserve">
    <polyline style="fill:none;stroke:#67B1FC;stroke-miterlimit:10;" points="250,25 40,25 25,9.9 0,9.9 "/>
  </svg>
{% endif %}
{{ title_suffix }}
