#page__front {
    background: $primary-color;
    color: #fff;
}
.field--type-link {
    display: block;
    text-align: center;
    margin: 1rem auto;
    width: 100%;
    padding: 0.5rem;
    border: 2px solid white;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 600;
}

.node .field--type-link:last-child {
    background: $secundary-color;
    border-color: $secundary-color;
}

#block-sitebranding {
    text-align: center; 
    .site-name {
        font-size: 2.5rem;
        border-bottom: 2px solid #fff;
        line-height: 150%;
        padding-bottom: 0.5rem;
        margin: 0;
        margin-bottom: 2rem;
    }

    .site-slogan {
        font-size: 1.3rem;
        text-transform: lowercase;
        font-style: italic;
        margin-bottom: 2rem;
    }
}