{% extends  "page.html.twig" %}

{# Replace content_fields #}
{% block replaceable %}
<div id="page__front">
  <div class="grid__container">
    {% if page.content %}
    <main>
      {{page.content}}
      {# <img class="svg-overlay" src="{{ directory }}/images/overlay.svg"> #}
    </main>
    {% endif %}
  </div>
</div>
{% endblock %}